<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="${product.name + ' - TopShoe'}">Product Detail</title>
	<meta name="keywords" content="Product Detail">
	<meta name="description" content="Product Detail">
	<meta name="author" content="TopShoe">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base th:replace="shopper/fragments/common :: base">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/toastr.min.css">
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">

	<style>
		/* CSS */
		.star {
			cursor: pointer;
		}

		/* Định dạng sao chưa được chọn */
		.star::before {
			content: '☆';
			font-size: 20px;
		}

		/* Định dạng sao khi được chọn */
		.star.selected::before {
			content: '★';
			color: gold;
			font-size: 20px;
		}
	</style>

</head>

<body class="tt-page-product-single">

	<!-- header -->
	<header th:replace="shopper/fragments/header"></header>

	<div class="tt-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="/">Trang Chủ</a></li>
				<li><a href="/product-listing">Sản Phẩm</a></li>
				<li th:text="${product.name}"></li>
			</ul>
		</div>
	</div>
	<div id="tt-pageContent">
		<div class="container-indent">
			<!-- mobile product slider  -->
			<div class="tt-mobile-product-layout visible-xs">
				<div class="tt-mobile-product-slider arrow-location-center slick-animated-show-js">
					<div><img th:src='@{/images/{imageUrl}(imageUrl=${product.images[0].imageUrl})}' alt=""></div>
					<div th:each="image, iter : ${product.images}">
						<div th:if="${iter.index > 0}">
							<img th:src="@{/images/{imageUrl}(imageUrl=${image.imageUrl})}" alt="">
						</div>
					</div>

				</div>
			</div>
			<!-- /mobile product slider  -->
			<div class="container container-fluid-mobile">
				<div class="row airSticky_stop-block">
					<div class="col-6 hidden-xs">
						<div class="product-images-static hidden-xs">
							<ul data-scrollzoom="false">
								<li><img class="zoom-product"
										th:src='@{/images/{imageUrl}(imageUrl=${product.images[0].imageUrl})}'
										th:data-zoom-image="${product.images[0]}" alt=""></li>
								<li th:each="image, iter : ${product.images}">
									<div th:if="${iter.index > 0}">
										<img class="zoom-product"
											th:src='@{/images/{imageUrl}(imageUrl=${image.imageUrl})}'
											th:data-zoom-image="@{/images/{imageUrl}(imageUrl=${image.imageUrl})}"
											alt="">
									</div>
								</li>
								<li>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item"
											src="http://www.youtube.com/embed/GhyKqj_P2E4" allowfullscreen></iframe>
									</div>
								</li>
								<li>
									<div class="tt-video-block">
										<a href="#" class="link-video"></a>
										<video class="movie" src="video/video.mp4" poster="video/video_img.jpg"></video>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<div class="airSticky">
							<div class="tt-product-single-info">
								<div class="tt-add-info">
									<ul>
										<li><span>ID: </span> <span th:text="${product.id}"></span></li>
										<input id="productId" type="hidden" th:value="${product.id}">
									</ul>
								</div>
								<h1 class="tt-title"
									th:text="${product.brand.name + ' ' + product.name + ' - ' + product.version}">
									Product name</h1>
								<div class="tt-price">
									<span class="new-price"
										th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'">$price</span>
									<span class="old-price"></span>
								</div>
								<div class="tt-review d-none">
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
										<i class="icon-star-empty"></i>
									</div>
									<a href="product-page-gotocomments-js">(3 Customer Review)</a>
								</div>
								<div class="tt-wrapper" th:text="${product.description}">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</div>
								<div class="tt-wrapper">
									<div class="tt-title-options">SIZE:</div>
									<ul class="tt-options-swatch options-large size_list">
										<li class="size_number" th:each="size : ${product.sizes}">
											<a th:href="${'chooseSize/' + size.size}" th:text="${size.size}">6</a>
											<input class="productSizeId" type="hidden" th:value="${size.id}">
										</li>
									</ul>
								</div>
								<div class="tt-wrapper product-information-buttons d-none">
									<a data-toggle="modal" data-target="#modalProductInfo" href="#">Size Guide</a>
									<a data-toggle="modal" data-target="#modalProductInfo-02" href="#">Shipping</a>
								</div>
								<div class="tt-wrapper">
									<div class="tt-row-custom-01">
										<div class="col-item d-none">
											<div class="tt-input-counter style-01" style="user-select: none;">
												<span class="minus-btn"></span>
												<input type="text" value="1" size="5">
												<span class="plus-btn"></span>
											</div>
										</div>
										<div class="col-item">
											<a id="addToCart" href="/add-to-cart" class="btn btn-lg">
												<i class="icon-f-39"></i>CHỌN MUA
											</a>
										</div>
									</div>
								</div>
								<div class="tt-wrapper">
									<ul class="tt-list-btn">
										<li><a th:if="${isLoggedIn}" class="btn-link" id="toogle-wishlist" href="#"><i
													th:class="${product.isFavorite} ? 'icon-h-13' : 'icon-n-072'"></i><span
													th:text="${product.isFavorite} ? 'Đã thích' : 'Yêu thích'"></span></a>
										</li>
										<li><a class="btn-link d-none" href="#"><i class="icon-n-08"></i>ADD TO
												COMPARE</a></li>
									</ul>
								</div>
								<div class="tt-wrapper">
									<div class="tt-add-info">
										<ul>
											<li><span>Vendor:</span> Polo</li>
											<li><span>Product Type:</span> T-Shirt</li>
											<li><span>Tag:</span> <a href="#">T-Shirt</a>, <a href="#">Women</a>, <a
													href="#">Top</a></li>
										</ul>
									</div>
								</div>
								<div class="tt-collapse-block">
									<div class="tt-item">
										<div class="tt-collapse-title">Mô tả</div>
										<div class="tt-collapse-content" th:text="${product.description}">
											Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
											cillum.

										</div>
									</div>
									<div class="tt-item active">
										<div class="tt-collapse-title">Thông tin</div>
										<div class="tt-collapse-content">
											<table class="tt-table-03">
												<tbody>
													<tr>
														<td>Màu:</td>
														<td>
															<!--<span th:each="color : ${product.colors}">
																<span th:text="${color.color.name}"></span>
															</span>-->
														</td>
													</tr>
													<tr>
														<td>Size:</td>
														<td>
															<span th:each="size : ${product.sizes}">
																<span th:text="${size.size}"></span>
															</span>
														</td>
													</tr>
													<tr>
														<td>Category:</td>
														<td th:text="${product.category.name}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tt-item">
										<div class="tt-collapse-title tt-poin-comments ">REVIEWS</div>
										<div class="tt-collapse-content">
											<div class="tt-review-block">
												<div class="tt-row-custom-02">
													<div class="col-item">
														<h2 class="tt-title">
															1 REVIEW FOR VARIABLE PRODUCT
														</h2>
													</div>
													<div class="col-item">
														<a href="#">Write a review</a>
													</div>
												</div>
												<div class="tt-review-comments">
													<div th:each="comment: ${comments}">
														<div class="tt-item">
															<div class="tt-avatar">
																<a href="#"><img
																		src="images/product/single/review-comments-img-02.jpg"
																		alt=""></a>
															</div>
															<div class="tt-content">
																<div class="tt-rating">
																	<i class="icon-star"
																		th:each="i: ${#numbers.sequence(1, 5)}"
																		th:classappend="${i <= comment.rate} ? 'icon-star' : 'icon-star-empty'"></i>
																</div>
																<div class="tt-comments-info">
																	<span class="username" th:text="${comment.name}">by
																		<span>JESICA</span></span>
																	<span class="time"
																		th:text="${comment.getFormattedCreatedDate}">on
																		January 14, 2017</span>
																</div>
																<!--<div class="tt-comments-title">Bad!</div>-->
																<p th:text="${comment.comment}">
																	Sed do eiusmod tempor incididunt ut labore et dolore
																	magna aliqua.
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="tt-review-form">
													<div class="tt-message-info">
														BE THE FIRST TO REVIEW <span>“<span
																th:text="${product.name}"></span>”</span>
													</div>
													<p>Your email address will not be published. Required fields are
														marked *</p>
													<div th:unless="${isLoggedIn}">
														<a class"tt-message-info" href="/login">Đăng nhập</a> để bình
														luận
													</div>
													<form id="comment-form" th:if="${isLoggedIn}">
														<input type="hidden" id="productId" value="${product.id}">

														<!-- Rate stars -->
														<div class="form-group">
															<label for="rating">Đánh giá:</label>
															<div id="rating-stars">
																<!-- Thêm các ngôi sao vào đây, mỗi ngôi sao có một sự kiện onclick để xác định rating -->
																<span class="star selected" onclick="setRating(1)"></span>
																<span class="star selected" onclick="setRating(2)"></span>
																<span class="star selected" onclick="setRating(3)"></span>
																<span class="star selected" onclick="setRating(4)"></span>
																<span class="star selected" onclick="setRating(5)"></span>
															</div>
														</div>

														<!-- Comment Textarea -->
														<div class="form-group">
															<label for="comment">Tên của bạn:</label>
															<input type="text" class="form-control" id="name" name="name"
																rows="4" placeholder="Type your name here..."
																required></input>
														</div>

														<div class="form-group">
															<label for="comment">Bình luận :</label>
															<textarea class="form-control" id="comment" name="comment"
																rows="4" placeholder="Type your comment here..."
																required></textarea>
														</div>

														<!-- Submit Button -->
														<button type="submit" class="btn btn-primary"
															onclick="addComment()">Comment</button>
													</form>

													<script>
														document.getElementById('comment-form').addEventListener('submit', function (event) {

															event.preventDefault();
															const commentText = document.getElementById('comment').value;
															const name = document.getElementById('name').value;
															const productId = document.getElementById('productId').value;
															// Mã hóa giá trị commentText trước khi thêm vào chuỗi dữ liệu
															const encodedCommentText = encodeURIComponent(commentText);
															// Lấy giá trị số sao từ biến userRating
															const rating = userRating;

															const xhr = new XMLHttpRequest();
															xhr.open('POST', '/comment', true);
															xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');

															//const data = `command=COMMENT&userID=${sessionScope.userID}&postID=${POST.ID}&comment=` + encodedCommentText ;
															const data = `command=COMMENT` + `&name= ` + name + `&comment= ` + commentText + `&rating=` + rating + `&productId=` + productId;
															// alert(commentText + "\n" + data);
															xhr.onreadystatechange = function () {
																if (xhr.readyState === XMLHttpRequest.DONE) {
																	if (xhr.status === 200) {
																		// Xử lý phản hồi từ servlet nếu cần
																		console.log(xhr.responseText);

																	} else {
																		console.error('Error:', xhr.status);
																	}
																}
															};

															xhr.send(data);
															// Xóa nội dung trong textarea sau khi thêm bình luận
															document.getElementById('name').value = '';
															// Xóa nội dung trong textarea sau khi thêm bình luận
															document.getElementById('comment').value = '';
															// Loại bỏ lớp 'selected' từ tất cả các ngôi sao
															const stars = document.querySelectorAll('.star');
															stars.forEach((star) => {
																star.classList.remove('selected');
															});

														});
													</script>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="shopper/fragments/footer"></footer>

	<!-- Modal -->
	<div th:replace="shopper/fragments/modal :: size_guide"></div>
	<div th:replace="shopper/fragments/modal :: shipping"></div>

	<script src="external/jquery/jquery.min.js"></script>
	<script src="external/bootstrap/js/bootstrap.min.js"></script>
	<script src="external/elevatezoom/jquery.elevatezoom.js"></script>
	<script src="external/slick/slick.min.js"></script>
	<script src="external/panelmenu/panelmenu.js"></script>
	<script src="external/air-sticky/air-sticky-block.min.js"></script>
	<script src="external/countdown/jquery.plugin.min.js"></script>
	<script src="external/countdown/jquery.countdown.min.js"></script>
	<script src="external/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="external/lazyLoad/lazyload.min.js"></script>
	<script src="js/main.js"></script>
	<!-- form validation and sending to mail -->
	<script src="external/form/jquery.form.js"></script>
	<script src="external/form/jquery.validate.min.js"></script>
	<script src="external/form/jquery.form-init.js"></script>

	<script src="js/toastr.min.js" type="text/javascript"></script>
	<script src="js/header.js" type="text/javascript"></script>
	<script src="js/product-box.js" type="text/javascript"></script>
	<script src="js/product.js" type="text/javascript"></script>

</body>

</html>